.MovieDetails{
  display: flex;
  flex-direction: column;
  max-width: 100%; 
  margin: 35px;
  background-color: lightblue;
  border-radius: 10px;
}

.genres{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.movie-title {
  letter-spacing: 3px;
  margin-top: 10px;
  align-content: center;
  text-align: center;
}

.overview {
  padding: 10px;
  margin-top: auto;
  font-size: medium;
}