.MovieDetails{
  display: flex;
  flex-direction: column;
  max-width: 80%; 
  /* height: auto; */
  margin: 25px;
  /* justify-content: center; */
  background-color: whitesmoke;
  /* align-content: center; */
  border: solid 3px black;
  border-radius: 10px;
}

.genres{
  display: flex;
  flex-direction: row;
  border: 3px solid black;
  justify-content: center;
  /* mar */
}

.movie-title {
  border: solid 3px red;
  align-content: center;
  text-align: center;
}

.overview {
  padding: 10px;
  margin-top: auto;
}