* {
  margin: 0;
  padding: 0;
  transition: transform .2s;
  }

body {
  background-color: whitesmoke;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

h1 {
  color: black;
  font-size: 56px;
  letter-spacing: 5px;
  text-shadow: 1px 2px 3px greenyellow, -1px -1px 3px red, 1px 1px 3px blue;
}

p {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  color: black;
}