* {
  margin: 0;
  padding: 0;
  }

body {
  background-color: #3e49b1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

h1 {
  color: white;
  font-size: 56px;
}

header button {
  border: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #97c2ec;
  color: white;
  font-size: 18px;
  padding: 3px 18px;
  height: 50px;
}

header button img {
  height: 36px;
  width: 36px;
  margin-right: 5px;
}

header button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(92, 102, 182, 0.4);
  cursor: pointer;
}

header button:active { 
  transform: scale(0.98); 
  box-shadow: 3px 2px 22px 1px rgba(92, 102, 182, 0.4); 
} 