* {
  margin: 0;
  padding: 0;
  transition: transform .2s;
  }

body {
  background-color: whitesmoke;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-left: 33px;
  padding-right: 27px;
  background-image: url("../icons/film_strip.png");
  background-size:contain;
  background-repeat:initial;
  background-position-x: left;
  background-size:contain;
  background-color: whitesmoke;
}

h1 {
  color: rgb(2, 0, 53);
  font-size: 66px;
  letter-spacing: 5px;
  text-shadow: 1px 2px 3px greenyellow, -1px -1px 3px red, 1px 1px 3px blue, 0px 0px 15px whitesmoke;
  cursor: default;
}

p {
  text-align: center;
}

.hidden {
  display: none;
}

.home-button {
  max-height: 70px;
  max-width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 4px;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.home-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.home-button img {
  max-height: 100%;
  width: auto;
}