.Genre{
  /* display: block;
  max-width: 80%; 
  height: auto;
  margin: 25px;
  justify-content: center;
  background-color: whitesmoke;
  align-content: center; */
  border: solid 3px black;
  /* border-radius: 10px; */
}