.movie_card{
  display: block;
  max-width: 15%;
  min-width: 200px; 
  height: auto;
  margin: 25px;
  justify-content: center;
  background-color: whitesmoke;
  align-content: center;
  border-style: hidden;
  border-radius: 10px;
  opacity: 80%;
}

.movie_card:hover {
  transform: scale(1.01);
  opacity: 100%;
  box-shadow: 1px 3px 10px rgba(1, 9, 78, 0.67);
  cursor: pointer;
}

img {
  align-self: center;
  max-width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.voting {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px;
}

.upvote, .downvote {
  margin: 5px;
  background: none;
  max-height: 30px;
  max-width: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.upvote img, .downvote img {
  width: 100%; 
  height: auto;
  object-fit: contain; 
}

.upvote:hover {
box-shadow: 0px 0px 10px rgba(0, 58, 0, 0.72);
}

.downvote:hover {
  box-shadow: 0px 0px 10px rgba(103, 0, 0, 0.544)
}

.votes {
  color: black;
  font-size: 1.5rem;
  margin-top: 0px;
  cursor:default
}

